body {
    background-color: rgb(214, 214, 214);
}

.nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link:hover {
    background-color: white;
    transition: 0.1s;
    font-size: 30px;
    color: black;
}

#vector:hover{
    transition: 0.1s;
    width: 100px;

}


main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: end;
    color: rgb(255, 255, 255);
}

.row, .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

img:hover {
    transition: 0.1;
    width: 160px;
}

.container-text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
